/* UTF-8 - ő */

	/**
	 * MongoDB model file for the collection <%= name %>.
	 *
	 * @name <%= name %>
	 *
	 * @version 1.0.0
	 *
	 * @created <%= date.getFullYear() %>-<%= date.getMonth() + 1 %>-<%= date.getDate() %>
	 *
	 * * */

	var mongoose		= require('../localGlobals').defMongoose
	,	db				= mongoose.createConnection(require('../../Conf/confGlobal').MONGOOSE_DB_MASTER, require('../../Conf/confGlobal').MONGODB_CONFIG)
	,	defaultModel	= require('./defaultModel')
	;
	var Schema			= mongoose.Schema
	,	ObjectId		= Schema.ObjectId
	;

	var <%= name %>Schema = new Schema({
		id				: ObjectId
	,	userID			: { type: ObjectId, required: true, index: {unique: true, dropDups: true}, unique: true }
	}, { autoIndex: false });

	var <%= name %>Model  = db.model('<%= name %>', <%= name %>Schema);

	// >> Select One <%= name %>
		exports.selectOne = function(inpt, callback){
			defaultModel.selectOne(<%= name %>Model, inpt, callback);
		};
	// << Select One <%= name %>



	// >> Select <%= name %>
		exports.select = function(inpt, callback){
			defaultModel.select(<%= name %>Model, inpt, callback);
		};
	// << Select <%= name %>



	// >> Insert <%= name %>
		exports.insert = function(inpt, callback){
			defaultModel.insert(<%= name %>Model, inpt, callback);
		};
	// << Insert <%= name %>



	// >> Update <%= name %>
		exports.update = function(inpt, callback){
			defaultModel.update(<%= name %>Model, inpt, callback);
		};
	// << Update <%= name %>



	// >> Delete <%= name %>
		exports.delete = function(inpt, callback){
			defaultModel.delete(<%= name %>Model, inpt, callback);
		};
	// << Delete <%= name %>
