/* UTF-8 - ő */

	/**
	 * MySQL model file for the table <%= name %>.
	 *
	 * @name <%= name %>
	 *
	 * @version 1.0.0
	 *
	 * @created <%= date.getFullYear() %>-<%= date.getMonth() + 1 %>-<%= date.getDate() %>
	 *
	 * * */


	// >> Create connection

		var mysql = mysql || require('mysql').createConnection(SE.DB_MYSQL);

		mysql.on('error', function(err) {
			LOG.add(['ERR - MySQL >> Administrators - connection', err]);
		});

	// << Create connection


	// >> Tables

		var dbTable 	= {"administrators" : "administrators", "rights" : "rights"};

	// << Tables


	// >> SQL

		var sqlCreateTableAdministrators =
				'CREATE TABLE IF NOT EXISTS `'+dbTable.administrators+'` ('
			+	'`id` 			int(16) 		unsigned NOT NULL AUTO_INCREMENT'
			+	',`name` 		varchar(100) 	COLLATE utf8_hungarian_ci NOT NULL'
			+	',`username` 	varchar(100) 	COLLATE utf8_hungarian_ci NOT NULL'
			+	',`email` 		varchar(150) 	COLLATE utf8_hungarian_ci NOT NULL'
			+	',`password` 	varchar(32) 	COLLATE utf8_hungarian_ci NOT NULL'
			+	',`right` 		varchar(150) 	COLLATE utf8_hungarian_ci NOT NULL'
			+	',PRIMARY KEY (`id`)'
			+ 	') ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_hungarian_ci;'

		,	sqlCreateTableRights = 'CREATE TABLE IF NOT EXISTS `'+dbTable.rights+'` ('
			+	'`id` 					int(16) 		unsigned NOT NULL AUTO_INCREMENT'
			+	',`id__administrator` 	int(16)  		unsigned NOT NULL'
			+	',`id__action` 			int(16) 		unsigned NOT NULL'
			+	',PRIMARY KEY (`id`)'
			+ 	') ENGINE=InnoDB  DEFAULT CHARSET=utf8 COLLATE=utf8_hungarian_ci;'

		,   sqlInsertAdministrators    				= 'INSERT INTO `'+dbTable.administrators+'` (`name`, `username`, `email`, `password`, `right`) values ("gabor", "gab", "e@f.hu", "7a401461341c5209cc3e178464cea4af", "god"), ' +
													'("tom", "tom", "infinity_x@freemail.hu", "7a401461341c5209cc3e178464cea4af", "god");'
		,   sqlInsertRights		    				= 'INSERT INTO `'+dbTable.rights+'` (`id__administrator`, `id__action`) values (1, 1);'
		,	sqlDropTableAdministrators 				= 'DROP TABLE IF EXISTS `'+dbTable.administrators+'`;'
		,	sqlDropTableRights 						= 'DROP TABLE IF EXISTS `'+dbTable.rights+'`;'
		,	sqlTruncateTableAdministrators 			= 'TRUNCATE TABLE `'+dbTable.administrators+'`;'
		,	sqlTruncateTableRights 					= 'TRUNCATE TABLE `'+dbTable.rights+'`;'
		;

		var sqlShowColumn = function(tableName) {
			return   'SHOW COLUMNS FROM `'+tableName+'`;';
		};

		var sqlShowRecords = function(tableName, from, to) {
			return   'SELECT * FROM `'+tableName+'` LIMIT ' + from + ', ' + to + ';';
		};


	// << SQL



	// >> Init, reset, empty, delete, show schemas, data

		exports.listSchemaNames = function() {
			var arrTables = [];

			for(var key in dbTable) {
				arrTables[arrTables.length] = dbTable[key];
			};

			return { "result" : arrTables, "nr" : arrTables.length };
		};

		exports.listSchema = function(tableName, cb) {
			if(tableName !== "") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlShowColumn(tableName), "params":{}}, function(otpt){

					if(otpt.statusNote.code!==undefined && otpt.statusNote.code ==="ER_NO_SUCH_TABLE") {
						otpt.status = "success";
						otpt.statusNote = "ER_NO_SUCH_TABLE";
						otpt.data.result = [];
					}

					cb(otpt);
				});

			} else {
				cb({ "status" : "error", "statusNote" : "Missing tablename"});
			}
		};

		exports.initSchemas = function(tableName, cb) {
			DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableAdministrators, "params":{}}, function(otpt){
				if(otpt.status=="success") {
					DB_MYSQL.query({"conn":mysql, "sql":sqlCreateTableAdministrators, "params":{}}, function(otpt){
						if(otpt.status=="success") {
							DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableRights, "params":{}}, function(otpt){
								if(otpt.status=="success") {
									DB_MYSQL.query({"conn":mysql, "sql":sqlCreateTableRights, "params":{}}, function(otpt){ cb(otpt); });
								} else {
									cb(otpt);
								}
							});
						} else {
							cb(otpt);
						}
					});
				} else {
					cb(otpt);
				}
			});
		}

		exports.setDefaultSchema = function(tableName, cb) {
			if(tableName === "administrators") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableAdministrators, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlCreateTableAdministrators, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else if(tableName === "rights") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableRights, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlCreateTableRights, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else {
				cb({ "status" : "error", "statusNote" : "Missing or wrong tablename"});
			}
		};

		exports.updateSchema = function(tableName, cb) {         //egyelőre ugyanaz mint a defaultSchema
			if(tableName === "administrators") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableAdministrators, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlCreateTableAdministrators, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else if(tableName === "rights") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableRights, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlCreateTableRights, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else {
				cb({ "status" : "error", "statusNote" : "Missing or wrong tablename"});
			}
		};

		exports.deleteSchema = function(tableName, cb) {
			if(tableName === "administrators") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableAdministrators, "params":{}}, function(otpt){ cb(otpt); });
			} else if(tableName === "rights") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableRights, "params":{}}, function(otpt){ cb(otpt); });
			} else {
				cb({ "status" : "error", "statusNote" : "Missing or wrong tablename"});
			}
		};

		exports.deleteSchemaKey = function(tableName, cb) {       //egyelőre ugyanaz mint a deleteSchema
			if(tableName === "administrators") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableAdministrators, "params":{}}, function(otpt){ cb(otpt); });
			} else if(tableName === "rights") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlDropTableRights, "params":{}}, function(otpt){ cb(otpt); });
			} else {
				cb({ "status" : "error", "statusNote" : "Missing or wrong tablename"});
			}
		};

		exports.listData = function(tableName, condition, cb) {
			var from = condition.from || 0;
			var to = condition.to || 30;

			if(tableName !== "") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlShowRecords(tableName, from, to), "params":{}}, function(otpt){

					if(otpt.statusNote.code!==undefined && otpt.statusNote.code ==="ER_NO_SUCH_TABLE") {
						otpt.status = "success";
						otpt.statusNote = "ER_NO_SUCH_TABLE";
						otpt.data.result = [];
					}

					cb(otpt);
				});

			} else {
				cb({ "status" : "error", "statusNote" : "Missing tablename"});
			}
		};

		exports.initData = function(options, cb) {
			DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableAdministrators, "params":{}}, function(otpt){
				if(otpt.status=="success") {
					DB_MYSQL.query({"conn":mysql, "sql":sqlInsertAdministrators, "params":{}}, function(otpt){
						if(otpt.status=="success")  {
							DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableRights, "params":{}}, function(otpt){
								if(otpt.status=="success") {
									DB_MYSQL.query({"conn":mysql, "sql":sqlInsertRights, "params":{}}, function(otpt){ cb(otpt); });
								} else {
									cb(otpt);
								}
							});
						} else {
							cb(otpt);
						}
					});
				} else {
					cb(otpt);
				}
			});
		}


		exports.setDefaultData = function(options, cb) {
			var tableName = options.tableName || "";

			if(tableName === "administrators") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableAdministrators, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlInsertAdministrators, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else if(tableName === "rights") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableRights, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlInsertRights, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else {
				cb({ "status" : "error", "statusNote" : "Missing or wrong tablename"});
			}
		};

		exports.addDefaultData = function(options, cb) {      //egyelőre ugyanaz mint a defaultData
			var tableName = options.tableName || "";

			if(tableName === "administrators") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableAdministrators, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlInsertAdministrators, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else if(tableName === "rights") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableRights, "params":{}}, function(otpt){
					if(otpt.status=="success") {
						DB_MYSQL.query({"conn":mysql, "sql":sqlInsertRights, "params":{}}, function(otpt){ cb(otpt); });
					} else {
						cb(otpt);
					}
				});
			} else {
				cb({ "status" : "error", "statusNote" : "Missing or wrong tablename"});
			}
		};

		exports.emptyData = function(options, cb) {
			var tableName = options.tableName || "";

			if(tableName === "administrators") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableAdministrators, "params":{}}, function(otpt){ cb(otpt); });
			} else if(tableName === "rights") {
				DB_MYSQL.query({"conn":mysql, "sql":sqlTruncateTableRights, "params":{}}, function(otpt){ cb(otpt); });
			} else {
				cb({ "status" : "error", "statusNote" : "Missing or wrong tablename"});
			}
		};

		exports.addData 	= function(options, cb) {
			var tableName 	= options.tableName	|| ""
			,	data 		= options.data		|| ""
			;

			DB_MYSQL.insert(
				{
					"conn"	: mysql
				,	"tbl" 	: tableName
				, 	"data"	: data
				}
				,	cb
			);
		};

		exports.modifyData 	= function(options, cb) {
			var tableName 	= options.tableName	|| ""
			,	id 			= options.id		|| ""
			,	data 		= options.data		|| ""
			;

			if(id!=="") {
				var condition = { "id" : id };

				DB_MYSQL.update(
					{
						"conn" 		: mysql
					, 	"tbl" 		: tableName
					, 	"data" 		: data
					, 	"where" 	: "id = :id"
					, 	"params"	: condition
					}
					, cb
				);

			} else {
				cb(function(otpt){ return {"status" : error, "statusNote" : "missing_id"}; });

			}
		};

		exports.deleteData 	= function(options, cb) {
			var tableName 	= options.tableName	|| ""
			,	id 			= options.id		|| ""
			;

			if(id!=="") {
				var condition = { "id" : id };

				DB_MYSQL.delete(
					{
						"conn" 	: mysql
					, 	"tbl" 	: tableName
					, 	"where" : "id = :id"
					, 	"params": condition
					}
					, 	cb
				);

			} else {
				cb(function(otpt){ return {"status" : error, "statusNote" : "missing_id"}; });

			}
		};

	// << Init, reset, empty, delete, show schemas, data


	// >> CRUD

		exports.create 	= function(data, cb) {
			if(
					data.name		!==undefined
				&& 	data.username	!==undefined
				&& 	data.email		!==undefined
				&& 	data.right		!==undefined
			) {
				DB_MYSQL.insert(
					{
						"conn"	: mysql
					,	"tbl" 	: "administrators"
					, 	"data"	: data
					}
				,	cb
				);

			} else {
				cb(function(otpt){ return { "status" : error, "statusNote" : "missing params: "+JSON.stringify(data) }; });

			}
		};


		exports.read 	= function(condition, cb) {
			DB_MYSQL.select(
				{
					"conn" 	: mysql
				, 	"sql" 	: "SELECT * FROM `administrators`"
				, 	"params" : condition
				}
			,	cb
			);
		};

		exports.readOne = function(condition, cb) {
			var	id = condition.id || "";

			if(id!=="") {
				DB_MYSQL.select(
					{
						"conn" 	: mysql
					, 	"sql" 	: "SELECT * FROM `administrators` WHERE id = :_id"
					, 	"params" : { "_id" : id	}
					}
				,	cb
				);

			} else {
				cb({"status" : "error", "statusNote" : "missing_id"});

			}
		};

		exports.readOneAuth = function(condition, cb) {
			var	email 		= condition.email 		|| ""
			,	password 	= condition.password 	|| ""
			;

			if(email !== "" && password !== "") {

				DB_MYSQL.select(
				{
					"conn" 	: mysql
				, 	"sql" 	: "SELECT * FROM `administrators` WHERE email = :_email AND password = :_password"
				, 	"params" : { "_email" : email, "_password" : SE.hashString(password) }
				}
				,	cb
				);

			} else {
				cb({"status" : "error", "statusNote" : "missing_attrs"});

			}
		};

		exports.update 	= function(data, condition, cb) {
			var	id = condition.id || "";

			if(id!=="") {
				if(
					data.name			!==undefined
					|| 	data.email		!==undefined
					|| 	data.age		!==undefined
					|| 	data.username	!==undefined
					|| 	data.right		!==undefined
					) {
					DB_MYSQL.update(
						{
							"conn" 		: mysql
						, 	"tbl" 		: "administrators"
						, 	"data" 		: data
						, 	"params"	: condition
						, 	"where" 	: "id = :id"
						//	, 	"orderby" 	: "id"
						//	, 	"limit" 	: limit
						}
						, cb
					);

				} else {
					cb(function(otpt){ return {"status" : error, "statusNote" : "missing params: "+JSON.stringify(data)}; });

				}
			} else {
				cb(function(otpt){ return {"status" : error, "statusNote" : "missing_id"}; });

			}
		};

		exports.delete 	= function(condition, cb) {
			var	id = condition.id || "";

			if(id!=="") {
				DB_MYSQL.delete(
					{
						"conn" 	: mysql
					, 	"tbl" 	: "administrators"
					, 	"where" : "id = :id"
					, 	"params": condition
					}
					, 	cb
				);

			} else {
				cb(function(otpt){ return {"status" : error, "statusNote" : "missing_id"}; });

			}
		};


	// << CRUD